services:
  api:
    image: crpi-r7ypicidq40qdabp.cn-hangzhou.personal.cr.aliyuncs.com/xiaoshaoqian/dali-api:latest
    container_name: dali-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

